.search__btn {
    border: 0;
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background: linear-gradient( #FF79DA, #9356DC);
    cursor: pointer;
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);
    margin: 30px 0 0 0;
}