/* search restaurant */
.search__btn {
    @include btn;
    background: linear-gradient( $colour-secondary, $colour-primary);
    border-radius: 100px;
    height:50px;
    margin: 30px 40px 0 40px;
    padding: 12px 24px;
    color: #fff;
    cursor: pointer;
    &:hover {
        background: linear-gradient( $colour-primary,$colour-secondary);
    }
}

/* step functionning */
.functionning__btn {
    @include btn;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colour-quinary;
    border-radius: 20px;
    height: 75px;
    margin: 10px 0 10px 0;
    width: 100%;
    @media screen and (min-width:1024px) {
        padding: 0 40px 0 80px;
    }
}  

