/* button search and command */
.search-and-command {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 45px 35px 60px 35px;
    background-color: $colour-quinary;
    @media screen and (min-width:768px) and (max-width:991px) {
        
    }
    @media screen and (min-width:992px) {
        

    }
}

.search__btn {
    @include btn;
    background: linear-gradient( $colour-secondary, $colour-primary);
    border-radius: 100px;
    height:50px;
    margin: 30px 40px 0 40px;
    padding: 12px 24px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        background: linear-gradient( $colour-primary,$colour-secondary);
    }
}

/* step functionning */
.functionning__btn {
    @include btn;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colour-quinary;
    border-radius: 20px;
    height: 75px;
    margin: 10px 0 10px 0;
    width: 100%;
    @media screen and (min-width:768px) and (max-width:991px) {
        padding: 0 20px 0 50px;
    }
    @media screen and (min-width:992px) {
        padding: 0 40px 0 70px;

    }
}  

