input{
    background-color: $colour-quaternary;
    height: 55px;
    text-align: center;
    font-weight: bold;
    border-width: 0;
    color: #666;
}

.search__city{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colour-quaternary;
}

.search__city i {
    position: absolute;
    padding-right: 185px;
}