/* Functionning List */
.functionning__list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    @media screen and (min-width:1024px) {
        flex-direction: row;
        column-gap: 80px;
    }
    
}

.functionning__step {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 90px;
    background: #9356dc;
    color: #ffffff;
    position: relative;
    margin:-10px
}

.functionning__icon {
    display: flex;
    align-items: center;
    color: grey;
}

.functionning i {
    position: absolute;
    margin-left: 30px;
    font-size: 21px;
    @media screen and (min-width:1024px) {
        padding-left: 10px;
    }
}

i.fas.fa-store {
    color: $colour-primary;
}

/* Restaurants List */
.restaurants__list {
    list-style: none;
    margin: 0 20px 20px 20px;
    padding: 0;
}

.restaurants__card {
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px ;
    box-shadow: 0px px 3px 0px #0000002e;
    cursor: pointer;
    margin-bottom: 37px;
    font-size: 14px;
}

.restaurants {
    color:black;
    padding: 15px 0 20px 15px;
}

.restaurants__name {
    padding-bottom: 8px;
    font-weight: bold;
}

