/* Functionning List */
.functionning__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    &.functionning__step {
        display: flex;
        justify-content: center;
        color: grey;
        &:hover {
            .functionning__btn {
                background-color:$colour-senary;
            }
            i.fas.fa-mobile-alt, i.fas.fa-list-ul, i.fas.fa-store {
                color: $colour-primary;
            }
        }
    }
    &.functionning__number {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 25px;
        height: 25px;
        border-radius: 90px;
        background: $colour-primary;
        color: #ffffff;
        position: absolute;
        margin:-10px
    }
    &.functionning__step i {
        position: absolute;
        margin-left: 30px;
        font-size: 21px;
    }
}

/* Functionning List tablet */
@media screen and (min-width:768px) and (max-width:991px) {
    .functionning__list {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 0px;
        &.functionning__step {
            justify-content: flex-start;
            align-items: center;
            padding-left: 8px;
        }
        &.functionning__step i {
            margin-left: 20px;
        }
    }
}

/* Functionning List desktop */
@media screen and (min-width:992px) {
    .functionning__list {
        flex-direction: row;
        column-gap: 15px;
        align-items: center;
        &.functionning__step {
            justify-content: flex-start;
            padding-left: 8px;
        }
    }
}

/* Restaurants List */
.restaurants__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    @media screen and (min-width:768px) and (max-width:991px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
    }
    @media screen and (min-width:992px) {
        flex-direction: row;
        flex-shrink: 1;
        justify-content: center;
    }
    &.restaurants__card {
        background-color: white;
        border-radius: 18px ;
        box-shadow: 0px 0px 3px 0px #0000002e;
        cursor: pointer;
        margin: 0 20px 20px 20px;
        @media screen and (min-width:768px) and (max-width:991px) {
            margin: 0  0 20px 0;
            width: 350px;
            justify-content: flex-start;
        }
        @media screen and (min-width:992px) {
            
        }
        img {
            height: 170px;
            width: 100%;
            object-fit: cover;
            border-radius: 18px 18px 0 0;
            @media screen and (min-width:992px) {
                flex-direction: row;
                flex-shrink: 1;
            }
        }
        &.restaurants__txt {
            color:black;
            padding: 0 0 0 10px;
            margin: 0;
            box-shadow: none;
            @media screen and (min-width:992px) {
                flex-wrap: wrap;
                justify-content: flex-start;
                min-width: 150px;
            }
            &.restaurants__name {
                font-weight: bold;
                width: 70%;
                margin: 10px 0 5px 0;
            }
            &.restaurants__city {
                width: 70%;
                margin-bottom: 18px;
            }
            &.restaurants__card i{
                position: absolute;
                font-size: 26px;
                padding: 10px 0 0 275px;
                color: grey;
                @include heart;
                @media screen and (min-width:768px) and (max-width:991px) {
                    position: unset;
                    padding: 10px 0 0 30px;
                }
                @media screen and (min-width:992px) {
                    position: unset;
                    padding: 10px 0 0 30px;
                }
            }
        }
    }
}

.new__contenant {
    position: relative;
    text-align: center;
    .new__txt {
        background-color: $colour-tertiary;
        color: #0e7238;
        position: absolute;
        top: 8%;
        left: 70%;
        font-size: 14px;
        padding: 5px 10px;
    }
}








