.loader{
    position: absolute;
    left: 53%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 16px solid $colour-primary;
    border-radius: 50%;
    border-top: 16px solid $colour-secondary;
    animation: spin 2s linear 2;
    animation-fill-mode: forwards;
    animation-timing-function: 4s;
}
  
@keyframes spin {
    0% {
         transform: rotate(0deg); 
         opacity: 1;
        }
    99% {
        transform: rotate(354deg); 
        opacity: 1;
        }
    100% { 
        transform: rotate(360deg); 
        opacity: 0;
        
    }
}


