$font-family-sans-serif: 'Roboto-Medium', sans-serif;
$font-family-cursive: 'Shrikhand', cursive;

p, button {
	font-family: $font-family-sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4 {
	font-family: $font-family-cursive;
	font-weight: 400;
}

h1 {
	font-size: 25px;
	margin-bottom: 20px;
}

h2 {
	font-size: 23px;
	margin-bottom: 20px;
}

h3 {
	font-size: 17px;
}

.typo {
	font-family: $font-family-sans-serif;
	font-weight: bold;
}

@media screen and (min-width:992px) {
	h1 {font-size: 32px;}
	h2 {font-size: 30px;}
	p, button {font-size: 20px;}
 }