.search-and-command {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 45px 35px 60px 35px;
    background-color: $colour-quinary;
}

.functionning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 15px;
    @media screen and (min-width:768px) and (max-width:991px) {
        align-items: center;
    }
    @media screen and (min-width:992px) {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 1000px;
        align-items: baseline;
    }
}

.restaurants__title {
    margin-left: 20px;
    @media screen and (min-width:768px) and (max-width:991px) {
        margin-left: 0;
    }
    @media screen and (min-width:992px) {
       margin-left: 0;
       display: flex;
       justify-content: center;
    }
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $colour-quinary;
    padding-top: 40px;
    @media screen and (min-width:768px) and (max-width:991px) {
       align-items: center;
    }
}

