/* header menu */
.menu__img {
    height: 215px;
    img {
        height: 260px;
        width: 100%;
        object-fit: cover;
    }
}
    
.menu__restaurants {
   @include name-restaurant;
    h1 {font-size: 28px;}
    #heart-menu {
        position: absolute;
        right: 40px;
        font-size: 30px;
        @include heart;
    }  
}

/* all menu */
.menu-integral {
    background-color: $colour-quinary;
    padding: 0 15px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.part-menu {
    padding-bottom: 25px;
    width: 99%;
}

.title {
    border-bottom: 3px solid $colour-tertiary;
    width: 46px;
    padding-bottom:  5px;
    margin: 0 0 15px 18px;
} 

.card {
    @include card;
    display: flex;
    flex-direction: row;
   
    &.txt {
        flex-direction: column;
        padding: 10px 0 10px 5px;
        white-space: nowrap; /*le texte ne revient pas à la ligne*/
        text-overflow: ellipsis;/*la fin du texte fini par ...*/
        overflow: hidden;/*coupe le texte si il depasse */
        width: 97%;
        &.name {
            font-family: $font-family-sans-serif;
            font-weight: bolder;
            padding-bottom: 4px;
            padding-top: 5px;
            display: inline-block;/* overflow, text-overflow */
        }
        &.accompaniment {
            padding-top: 0;
            padding-bottom: 5px;
            font-size: 15px;
            display: inline-block;/* overflow, text-overflow */
        }
    }
    &.price {
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: bold;
        font-family: $font-family-sans-serif;
        flex: 1;
        padding-bottom: 15px;
    }
    &.validate {
        width: 25px;
        border-radius: 0 15px 15px 0;
        position:relative;
        align-items: center;
        justify-content: center;
        margin: 0;
        i {
            color: $colour-septenary;
        }
    }
    &.full-color:after{
        content:'';
        display:block;
        position:absolute;
        bottom:0;
        top:0;
        left:0;
        right:0;
        z-index:1;
        background-color: $colour-tertiary;
        transition :  0.35s ease-in-out;
        transition-property : top, bottom, left,right, border-width;
    }
    &.to-left:after{
    left:100%;
    }
    &.to-left:hover:after{
    left:0;
    }
    &:hover .validate {
        background-color: $colour-tertiary;
        width: 55px;
        margin-left: 20px;
        i {
            font-size: 22px;
            transform: rotate(360deg);
            transition: transform 1s ease-in-out;
            display: block;
            padding: 0;
        }
    }
}  

/* button command */
.search-and-command {
    justify-content: center;
    padding-top: 35px;
    &.command-menu {align-items: center;}
    &.search__btn {
        padding: 0 50px;
        margin: 0;
    }
}

/* animation card */
.card-1 {
    animation: fadein 1s;
    margin-bottom: 15px;
}
.card-2 {
    animation: fadein 2s;
    margin-bottom: 15px;
}
.card-3 {
    animation: fadein 3s;
    margin-bottom: 15px;
}
.card-4 {
    animation: fadein 4s;
    margin-bottom: 15px;
}

@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(40px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

/*desktop */
@media screen and (min-width:992px) {
    .menu__img {
        img {
            object-fit: cover;
            height: 350px;
        }
    }

    .menu-integral {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: flex-start;
        .part-menu {
            width: 30%;
        }
    }

    .menu__restaurants{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        h1 {
            margin: 0;
            font-size: 40px;
        }
        #heart-menu {
            position: initial;
            margin-left: 70px;
            font-size: 40px;
        }
    }
}


/* tablet */
@media screen and (min-width:768px) and (max-width:991px) {
    .menu__img {
        img {
            object-fit: cover;
            height: 325px;
        }
    }

    .menu__restaurants {
        margin-bottom: -2px;/* supperpose menu__restaurant et menu__img */
    }

    .part-menu {
        width: 50%;
        padding:10px 15px;
    }

    .menu-integral {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        
    }
}


    