/* header menu */
.menu__img img{
    width: 100%;
    object-fit: contain;
} 
    
.menu__restaurants {
    background-color: $colour-quinary;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -40px;
    padding: 30px 20px 40px 20px;
    h1 {
        font-size: 28px;
    }
    #heart-menu {
        position: absolute;
        right: 40px;
        font-size: 30px;
        @include heart;
    }  
}
/* all menus */
.menu-integral {
    background-color: $colour-quinary;
}
/* starter */
.starter {
   
   
}
.title {
    border-bottom: 3px solid $colour-tertiary;
    width: 46px;
    padding-bottom:  5px;
    margin: 0 0 15px 15px;
} 

.card {
    @include card;
    display: flex;
    flex-wrap: nowrap;
    &.validate {
        color: $colour-septenary;
        margin: 0;
        padding: 0;
    }
    &:hover .validate {
        justify-content: center;
        align-items: center;
        background-color: $colour-tertiary;
        color: $colour-septenary;
        border-radius: 0 15px 15px 0;
        padding: 0;
        width: 3.5rem; 
        transform:scalex(1);
        transition: transform 600ms ease-out 50ms;
        i {
             font-size: 22px;
        }
    }
    
}    
.txt {
    width: 100%;
    display: inline-block;
    font-family: $font-family-sans-serif;
    &.name {
        white-space: nowrap; /*le texte ne revient pas à la ligne*/
        font-weight: bold;
        padding-bottom: 0;
        padding-top: 5px;
    }
    &.accompaniment {
        white-space: nowrap; /*le texte ne revient pas à la ligne*/
        text-overflow: ellipsis;/*la fin du texte fini par ...*/
        overflow: hidden;/*coupe le texte si il depasse */
        padding-top: 0;
        padding-bottom: 5px;
    }
    &:hover {
        width: 64%;
    }
}
.price {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    font-family: $font-family-sans-serif;
    flex: 1;
    margin-right: 16px;
}