/* header menu */
.menu__img img{
    width: 100%;
    object-fit: contain;
} 
    
.menu__restaurants {
   @include name-restaurant;
    h1 {
        font-size: 28px;
    }
    #heart-menu {
        position: absolute;
        right: 40px;
        font-size: 30px;
        @include heart;
    }  
}

/* all menu */
.menu-integral {
    background-color: $colour-quinary;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part-menu {
    padding-bottom: 25px;
}

.title {
    border-bottom: 3px solid $colour-tertiary;
    width: 46px;
    padding-bottom:  5px;
    margin: 0 0 15px 18px;
} 

.card {
    @include card;
    max-width: 400px;
    &.validate {
       @include check;
       opacity: 0;
       width: 1px;
       i {
           font-size: 1px;
       }
    }
    &:hover .validate {
        background-color: $colour-tertiary;
        color: $colour-septenary;
        width: 55px; 
        opacity: 1;
        i {
            font-size: 22px;
            transform: rotate(+360deg);
            transition: transform 1s ease-in-out
        }
    }
}  

.txt {
    width: 97%;
    display: inline-block;
    font-family: $font-family-sans-serif;
    padding-top: 10px;
    &.name {
        white-space: nowrap; /*le texte ne revient pas à la ligne*/
        text-overflow: ellipsis;/*la fin du texte fini par ...*/
        overflow: hidden;/*coupe le texte si il depasse */
        font-weight: bold;
        padding-bottom: 0;
        padding-top: 5px;
    }
    &.accompaniment {
        white-space: nowrap; /*le texte ne revient pas à la ligne*/
        text-overflow: ellipsis;/*la fin du texte fini par ...*/
        overflow: hidden;/*coupe le texte si il depasse */
        padding-top: 0;
        padding-bottom: 5px;
        font-size: 15px;
    }
    &:hover {
        width: 65%;
    }
}

.price {
    justify-content: center;
    font-weight: bold;
    font-family: $font-family-sans-serif;
    flex: 1;
    padding: 35px 0 0 0;
}

/* button command */
.search-and-command {
    justify-content: center;
    padding-top: 35px;
    &.command-menu {
       align-items: center;
    }
    &.search__btn {
        padding: 0 50px;
        margin: 0;
    }
}

/* animation card */
.card-1 {
    animation: fadein 1s;
}

.card-2 {
    animation: fadein 2s;
}

.card-3 {
    animation: fadein 3s;
}

.card-4 {
    animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(40px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

/*desktop */
@media screen and (min-width:992px) {
    .menu__img {
        img {
            object-fit: cover;
            height: 350px;
        }
    }

    .menu-integral {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .menu__restaurants{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        h1 {
            margin: 0;
            font-size: 40px;
        }
        #heart-menu {
            position: initial;
            margin-left: 70px;
            font-size: 40px;
        }
    }

    .card {
        max-width: 325px;
    }

}

/* tablet */
@media screen and (min-width:768px) and (max-width:991px) {
    .menu__img {
        img {
            object-fit: cover;
            height: 325px;
        }
    }

    .menu-integral {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        max-width: 350px;
    }
}


    