.footer {
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    @media screen and (min-width:781px) {
        padding-left: 35px;
    }
    img {
        height: 20px;
        padding-left: 0px;
        @media screen and (min-width:1024px) {
            height: 26px;
        }
    }
    &.footer__list {
        list-style: none;
        padding-left: 0px;
        &.footer__txt {
            display: flex;
            column-gap: 15px;
            padding: 5px 0 5px 0;
        }
    }
        
}