.footer {
    background-color: rgb(39, 39, 39);
    color: white;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    img {
        height: 40px;
        padding: 15px 0 0 20px;
    }
    ul{
        display: flex;
        flex-direction: column;
        i {padding-right: 10px;}
        .fa-hands-helping {font-size: 11px;}
    }
    &.footer__list {
        list-style: none;
        padding-left: 0px;
        &.footer__txt {
            display: flex;
            flex-direction: row;
            padding: 5px 20px;
            p {
                color: white;
            }
            
        }
    }
}

/* tablet */
@media screen and (min-width:768px) and (max-width:991px) {
    .footer {
        align-items: center;
        img {
            height: 50px;
            padding-top: 20px;
        }
        ul {
            flex-direction: row;
            padding:40px 0 60px 0;
            .fa-hands-helping {
                font-size: 17px;
            }
            i {padding: 0;}
        }
        &.footer__list {
            p {margin-left: 10px;}
        }
    }
}

/* desktop */
@media screen and (min-width:992px) {
   .footer {
        align-items: center;
        img {
            height: 40px;
            margin-top: 10px;
        }
        ul {
            flex-direction: row;
            padding:20px 0 30px 0;
            .fa-hands-helping {
                font-size: 15px;
            }
            i {padding-right: 0;}
        }
        &.footer__list {
            p {
                margin-left: 10px;
                color: $colour-quinary;
            }
        }
   }
}